name: scp copy folder to remote via SSH

on:
  push:
    branch: master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: setup demo
        run: |
          mkdir test
          touch test/oof.txt
      - name: Copy folder content recursively to remote
        uses: garygrossgarten/github-action-scp@release/0.3.0
        with:
          local: test
          remote: ./
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.PASSWORD }}
        env:
          CI: true
